@font-face {
  font-family: "MyCustomFont";
  src: url("./font/hunter-webfont.woff");
}

.body-container {
  max-width: 1400px;
  margin: 0 auto;
  font-family: "MyCustomFont";
}

nav {
  padding: 15px;
}
nav li {
  display: inline;
  list-style: none;
  margin-left: 8px;
  color: black;
}

nav a {
  text-decoration: none;
  transition: all 100ms ease-in-out;
  color: black;
}

nav a:hover,
nav li.active a {
  color: grey;
}

.hero {
  background-image: url("../src/ruma_banner_crop.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 220px;
  margin-top: 100px;
  border-radius: 2px;
}

.h1-hero {
  text-align: center;
  font-size: 60px;
  margin-top: 40px;
  padding-bottom: 25px;
  font-weight: lighter;
}

img {
  max-width: 100%;
  padding-bottom: 20px;
  border-radius: 3px;
}

.container img:hover {
  transform: scale(1.5);
  transition: all 150ms ease-in-out;
}

.container p {
  font-size: 18px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

h1 {
  text-align: center;
  font-size: 60px;
  margin-top: 40px;
  padding-bottom: 60px;
}

h1 a {
  text-decoration: none;
  color: black;
}

h2,
h3 {
  text-align: center;
  padding: 20px;
  margin-top: 30px;
}

h5 {
  text-align: center;
  padding: 25px;
  margin-bottom: 35px;
}

p {
  margin-left: 30px;
  line-height: 1.5;
  font-size: 16px;
  text-align: center;
}

.about-hero {
  background-image: url("../src/About\ Ruma\ Banner_Crop.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 220px;
  margin-top: 60px;
  border-radius: 2px;
  margin-bottom: 60px;
}

.about-img {
  max-width: 90%;
  margin-left: 30px;
  margin-top: 70px;
  border-radius: 3px;
}

.product-hero {
  background-image: url("../src/Shop\ Ruma\ Banner_Crop\ V1.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 220px;
  margin-top: 60px;
  border-radius: 2px;
  margin-bottom: 60px;
}

button {
  margin-bottom: 50px;
}

button a {
  text-decoration: none;
  color: black;
}

.contact-hero {
  background-image: url("../src/Contact\ Banner_Crop.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 220px;
  margin-top: 60px;
  border-radius: 2px;
  margin-bottom: 60px;
}

.form-group {
  text-align: center;
  padding: 10px;
}

#name,
#email {
  width: 300px;
  height: 40px;
}

#message {
  width: 600px;
  height: 60px;
}

#submit {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
  background-color: #8799a1;
  border-radius: 3px;
  border: none;
  color: white;
}

.contact-link a {
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 20px;
  margin-bottom: 15px;
}

.contact-link h4 {
  padding: 10px;
  margin-top: 30px;
  text-align: center;
  font-size: 30px;
}
